body{
  border-color: black;
  overflow:hidden;
}

.container{
  width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  border: none;
}

.ovl{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.text1{
 position: relative;
}

.suisha{
  position: relative;
  width: 200px;
  height: 200px;
  top: 450px;
  margin-left: -300px;
  animation: rotate-anime 10s linear infinite;
}
@keyframes rotate-anime {
  0%  {transform: rotate(0);}
  100%  {transform: rotate(360deg);}
}

.mado{
  position: relative;
  width: 180px;
  height: 160px;
  top: 160px;
}

.tobira_r {
  position: relative;
  height: 110px;
  width: 60px;
  top: 180px;
margin-left: -60px;
  transform-origin: left top 0;
}

.tobira_l{
  position: relative;
  height: 110px;
  width: 60px;
  top: 180px;
  margin-left:57px;
  transform-origin: right top 0;
}

.tobiraopen_r{
  animation: tobira-open_r 2s ease-out 6s 1 forwards;
}

.tobiraclose_r{
  animation: tobira-close_r 2s ease-out 1 forwards;
}

.tobiraopen_l{
  animation: tobira-open_l 2s ease-out 6s 1 forwards;
}

.tobiraclose_l{
  animation: tobira-close_l 2s ease-out 1 forwards;
}

@keyframes tobira-open_l {
  0%  {transform: rotateY(0);}
  100%  {transform: rotateY(180deg);}
}

@keyframes tobira-close_l {
  0%  {transform: rotateY(180deg);}
  100%  {transform: rotateY(0deg);}
}

@keyframes tobira-open_r {
  0%  {transform: rotateY(0);}
  100%  {transform: rotateY(-180deg);}
}

@keyframes tobira-close_r {
  0%  {transform: rotateY(-180deg);}
  100%  {transform: rotateY(0deg);}
}

.zoomin {
  transform-origin: center 180px;
  animation: zoom-in 5s ease-in-out 1 forwards;
}
@keyframes zoom-in {
  0%  {transform: scale(1)}
  100%  {transform: scale(4)}
}

.zoomout {
  transform-origin: center 180px;
  animation: zoom-out 5s ease-in-out 1 forwards;
}
@keyframes zoom-out {
  0%  {transform: scale(4)}
  100%  {transform: scale(1)}
}

.naka{
  display: block;
  width: 100%;
  position: absolute;
  top: 188px;
  margin: 0 auto;
  text-align: center;
}

.tori{
  width: 103px;
  height: 103px;
}

.cd{
  position: fixed;
  top: 650px;
}

.qr{
  position: fixed;
  height: 100%;
  text-align: right;
  padding-top: 50px;
  left: -50px;
}

